<h1>Listing people</h1>

<%= form_tag(people_path, :method => "get") do %>
    <%= label_tag(:name, "Filter for:") %>
    <%= text_field_tag(:name) %>
    <%= submit_tag("Filter") %>
    <%= select_tag(:is_block, options_for_select([['Block', true], ['UnBlock', false]])) %>
<% end %>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Name</th>
    <th>Last name</th>
    <th>Birth date</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Blocked</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td><%= person.last_name %></td>
    <td><%= person.birth_date %>    </td>
    <td><%= person.phones.empty? ? 'none' :person.phones.first.number %></td>
    <td><%= person.addresses.empty? ? 'none' :person.addresses.first.street %></td>
    <td><%= person.blocked %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to person.blocked ? 'UnBlock' : 'Block' , block_person_path(person), method: :put, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
