<!DOCTYPE html>
<html>
<head>
  <title>TestAgenda</title>
  <h1>Test de Agendas</h1>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>aca va el toolbar</p>
<p>esto no funca link_to 'Personas' :controller => "people", :action => "index"</p>
<%= link_to 'Personas', people_path %>
<%= link_to 'Tipos de Dato', data_types_path %>
<%= yield %>
<p>texto al final</p>
</body>
</html>
